# =======================
# 1.データセットとモデル（絶対に公開しないもの）
# =======================


# 音声ファイルを表す拡張子を無視
*.wav
*.mp3
*.flac
*.au
*.aac
*.m4a
*.wma

# 学習済みのモデルの重みファイル（容量が大きいため）
*.pth       # PyTorch
*.h5        # TensorFlow/Keras
*.onnx
*.pkl       # ピックルファイル（データの一時保存など）

# Windowsの代替データストリーム
*:Zone.Identifier

# =======================
# 2. Python関連の不要ファイル
# =======================
__pycache__/
*.py[cod]
*$py.class

# 仮想環境のフォルダ
./venv/
venv/
env/

# 環境変数（APIキーやパスワードなどを書いたファイル）
.env


# =======================
# 3. エディタやOSの隠しファイル
# =======================
.vscode/    # VS Vodeの設定フォルダ
.DS_Store   # macOSのシステムファイル
Thumbs.db   # Windowsのシステムファイル